#include <windows.h>

#include "../include/smooth/resources.h"
#include "../include/smooth/version.h"

IDR_VERSION		VERSIONINFO
  FILEVERSION		SMOOTH_RESVERS
  PRODUCTVERSION	SMOOTH_RESPROD
  FILEFLAGSMASK		VS_FFI_FILEFLAGSMASK
  FILEFLAGS		VS_FF_DEBUG|VS_FF_PRERELEASE|VS_FF_PRIVATEBUILD
  FILEOS		VOS_NT_WINDOWS32
  FILETYPE		VFT_DLL
  FILESUBTYPE		0	// not used
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004B0"	// Block: language ID = Multilingual, char set = Unicode
        BEGIN
            VALUE	"FileDescription",	"Developers version of the smooth library."
            VALUE	"FileVersion",		SMOOTH_FILEVER
            VALUE	"InternalName",		"SMOOTH"
            VALUE	"OriginalFilename",	"smooth.dll"
            VALUE	"ProductName",		"smooth Class Library"
            VALUE	"ProductVersion",	SMOOTH_PRODUCT
            VALUE	"LegalCopyright",	"Copyright © 1998-2025 Robert Kausch"
            VALUE	"Official website",	"http://www.smooth-project.org/"
            VALUE	"eMail contact",	"info@smooth-project.org"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE	"Translation", 0x0000, 1200
    END
END

IDI_ICON ICON MOVEABLE PURE LOADONCALL DISCARDABLE "./binary/icon.ico"
